*.pyc
src/tmp/
local/
.DS_Store
src/election_anomaly/__pycache__
query_create/__pycache__
src/election_anomaly/query_create/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/states_and_files/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/clean/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/query_create/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/db_routines/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/munge_routines/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/context/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/munge_routines/__pycache__/__init__.cpython-38.pyc
.idea
/venv/
src/election_anomaly/analyze/__pycache__/__init__.cpython-37.pyc
src/election_anomaly/db_routines/create_cdf_db/__pycache__/__init__.cpython-37.pyc
dist
*.egg-info
build
*.ini
