local/
.DS_Store
src/code/__pycache__
src/code/local_data/NC/data
src/code/local_data/FL
src/code/local_data/Philadelphia
src/code/local_data/VA
src/code/local_data/tmp
src/code/local_logs/*
query_create/__pycache__
src/code/query_create/__pycache__/__init__.cpython-37.pyc
src/code/states_and_files/__pycache__/__init__.cpython-37.pyc
src/code/clean/__pycache__/__init__.cpython-37.pyc
src/code/query_create/__pycache__/__init__.cpython-37.pyc
src/code/db_routines/__pycache__/__init__.cpython-37.pyc
src/code/munge_routines/__pycache__/__init__.cpython-37.pyc
src/code/context/__pycache__/__init__.cpython-37.pyc
.idea/workspace.xml
.idea/usage.statistics.xml
