local/
.DS_Store
code/__pycache__
code/local_data/NC/data
code/local_data/NC/meta
code/local_data/FL
code/local_data/Philadelphia
code/local_data/VA
code/local_data/tmp
code/local_logs/*
query_create/__pycache__
code/query_create/__pycache__/__init__.cpython-37.pyc
code/states_and_files/__pycache__/__init__.cpython-37.pyc
code/clean/__pycache__/__init__.cpython-37.pyc
code/query_create/__pycache__/__init__.cpython-37.pyc
