[format]
encoding=iso-8859-1
file_type=flat_text
sep=,
count_location=by_column_number
count_columns=5

[from_field_values]
ReportingUnit=<District>
Party=<Party>
CandidateContest=<Contest Name>
Candidate=<Candidate Name>
BallotMeasureContest=<Contest Name>
BallotMeasureSelection=<Candidate Name>
CountItemType=election-day