[format]
file_type=json-nested
count_location=by_field_name
count_fields=['ChoiceTotalVotes']

[from_field_values]
ReportingUnit=<CountyName>
Party={<ChoiceName>,^.* \((.*)\)$}
CandidateContest=<ContestName>
Candidate={<ChoiceName>,^(.*) \(.*\)$}
BallotMeasureContest=<ContestName>
BallotMeasureSelection=<ChoiceName>
CountItemType=total