[format]
encoding=utf-8
file_type=excel
count_location=by_column_number
count_columns=4,6

[from_field_values]
ReportingUnit=<COUNTY>
Party=<PARTY>
CandidateContest=<OFFICE / BALLOT ISSUE>
Candidate=<CANDIDATE / BALLOT ISSUE TITLE>
BallotMeasureContest=<OFFICE / BALLOT ISSUE>
CountItemType=total

[in_count_headers]
BallotMeasureSelection=<0>