[format]
encoding=utf-8
thousands_separator=,
file_type=excel
count_location=by_column_number
count_columns=4

[from_field_values]
ReportingUnit=<County>
Party=<Party>
CandidateContest=<Office> (<Party>)
Candidate=<Candidate>
BallotMeasureContest=<Office>
BallotMeasureSelection=<Candidate>
CountItemType=total