[format]
encoding=iso-8859-1
thousands_separator=None
file_type=flat_text
sep=	
count_location=by_column_number
count_columns=14

[from_field_values]
ReportingUnit=<CountyName>
Party=<PartyCode>
CandidateContest=<RaceName> <Juris1num> (<PartyCode>)
Candidate=<CanNameFirst> <CanNameMiddle> <CanNameLast>
BallotMeasureContest=<RaceName>
BallotMeasureSelection=<CanNameLast>
CountItemType=total