[format]
encoding=iso-8859-1
thousands_separator=None
file_type=excel
count_location=by_column_number
count_columns=10

[from_field_values]
ReportingUnit=<County>
Party=<PartyName>
CandidateContest=<OfficeName>
Candidate=<CanFirstName> <CanLastName>
BallotMeasureContest=None
BallotMeasureSelection=None
CountItemType=total