[format]
encoding=iso-8859-1
thousands_separator=None
file_type=flat_text
sep=,
count_location=by_column_number
count_columns=4,5,6,7,8,9,10,11,12,13,14,15,16

[from_field_values]
ReportingUnit=<Parish>;<Ward>;<Precinct>
CandidateContest=<Office>
CountItemType=election-day

[in_count_headers]
Party={<0>,^.*\(([a-zA-Z]{3})\)$}
Candidate={<0>,^(.*)\([a-zA-Z]{3}\)$}