[format]
encoding=iso-8859-1
file_type=excel
count_location=by_column_number
count_columns=1,2,3,4,5,6,7,8,9,10,11
constant_over_file=CandidateContest,CountItemType

[from_field_values]
ReportingUnit=<Summary By Counties>

[in_count_headers]
Party={<0>,^.*[ |,]([a-z]{1,3})$}
Candidate={<0>,^(.*?)\W+[a-z]+$}