[format]
file_type=excel
sheets_to_skip=Contents,Statewide Offices,President,U.S. Congress,General Assembly,State Board of Education,Judicial

[from_field_values]
ReportingUnit=<first_column>
Party={<header_1>,^.* \((.*)\)[^\)\n]*$}
CandidateContest=<header_0>
Candidate={<header_1>,^(.*) \(.*\)[^\)\n]*$}
BallotMeasureContest=<header_0>
BallotMeasureSelection=<header_1>
CountItemType=total