[format]
encoding=iso-8859-1
file_type=flat_text
sep=,
count_location=by_column_number
count_columns=12
constant_over_file=ReportingUnit,CountItemType

[from_field_values]
Party=<NominatingParty>
CandidateContest=<ContestName>
Candidate=<CandidateName>
BallotMeasureContest=None
BallotMeasureSelection=None