[format]
encoding=iso-8859-1

[from_field_values]
ReportingUnit=<first_column>
Party={<header_0>,^.*\s+-\s+([A-Z]{3})\s+\(.*\)$}
CandidateContest={<header_0>,^(.*\s+-\s+[A-Z]{3})\s+\(.*\)$}
Candidate=<header_1>
BallotMeasureContest={<header_0>,^(.*)\s+-\s+[A-Z]{3}\s+\(.*\)$}
BallotMeasureSelection=<header_1>
CountItemType=<header_2>