[format]
encoding=iso-8859-1
thousands_separator=,
file_type=excel
sheets_to_skip=Document map

[from_field_values]
ReportingUnit=<first_column>
Party=<header_0>
CandidateContest=<constant_line_0>
Candidate={<header_1>,^(.*)\n*.*$}
BallotMeasureContest=<constant_line_0>
BallotMeasureSelection=<header_1>
CountItemType=total

[constant_over_sheet]