[format]
file_type=<required string: csv, txt, xls or concatenated-blocks>
encoding=<required string: if you're not sure, use iso-8859-1>
header_row_count=<required for txt, csv, xls integer: number of rows at the top of the file not containing data>
field_name_row=<integer: 0 is the top row. It is assumed that there is only one row with labels for fields (though there may be more than one header row with values, such as contest or candidate names)>
field_names_if_no_field_name_row=<required for txt, csv, xls integer unless field_name_row is given: a comma-separated list of strings>
count_columns=<required for txt, csv, xls comma-separated list of integers: 0 is the left-most column>
thousands_separator=<string: usually ,>
count_of_top_lines_to_skip=<required for concatenated-blocks integer>
columns_to_skip=<required for concatenated-blocks comma-separated list of integers: 0 is the left-most column, while -1 is the right-most column>
last_header_column_count=<required for concatenated-blocks integer: in this format there are often repeated column headers (usually for vote types) in the header row just above the data. How many distinct columns are there? If there are 3 vote types repeated 7 times for 7 candidates, this number should be 3. Number of repetitions doesn't matter for defining the munger>
column_width=<required for concatenated-blocks integer: number of characters in each column>

