[format]
header_row_count=0
field_names_if_no_field_name_row=State,County ID,Precinct name,Office ID,Office Name,District,Candidate ID,Candidate Name,Suffix,Incumbent Code,Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office,Votes for Candidate,Percentage of Votes for Candidate out of Total Votes for Office,Total number of votes for Office in area
file_type=txt-semicolon-separated
count_columns=13
encoding=iso-8859
